/mysql/#innodb_temp/
/mysql/manonthemoon/
/mysql/mysql/
/mysql/performance_schema/
/mysql/sys/
/mysql/#ib_16384_0.dblwr
/mysql/#ib_16384_1.dblwr
/mysql/auto.cnf
/mysql/binlog.000001
/mysql/binlog.000002
/mysql/binlog.index
/mysql/ca.pem
/mysql/ca-key.pem
/mysql/client-cert.pem
/mysql/client-key.pem
/mysql/ib_buffer_pool
/mysql/ib_logfile0
/mysql/ib_logfile1
/mysql/ibdata1
/mysql/mysql.ibd
/mysql/private_key.pem
/mysql/public_key.pem
/mysql/server-cert.pem
/mysql/server-key.pem
/mysql/undo_001
/mysql/undo_002
