{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Basic Web Server</title>
        <link rel="stylesheet" href="/static/css/Index.css">
    </head>
    <body>
    <header id="env">
        <h1><a href='/'>Basic Web Server</a></h1>
    </header>
    <nav>
        <a href='/'>Home</a>
    </nav>
    <main>
        {{template "main" .}}
    </main>
    <!-- Invoke the footer template -->
    {{template "footer" .}}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/envToggle.js" type="text/javascript"></script>
    </html>
{{end}}