{{define "envToggle"}}
    <div id="envParams">
    {{range .EnvParams}}
        <div class="item">
            <span class="EnvParam">{{.Key}}: {{.Value}}</span>
        </div>

    {{end}}
    </div>
{{end}}