{{define "footer"}}
    <div id="loaderScreen" class="loaderScreen">
        <div id="loaderSubScreen">
            <div id="loader" class="loader">
            </div>
        </div>
    </div>
    <footer>Powered by <a href='https://golang.org/'>Go</a></footer>
{{end}}