{{template "base" .}}

{{define "title"}}Environment: {{.Environment}}{{end}}

{{define "main"}}
    <h2>Environment Info</h2>
        <button onclick="EnvToggle()">Toggle Display</button>
        <button onclick="TestLoader()">Test Loader Wheel</button>
    <p>There's nothing to see here yet!</p>
{{end}}